node_modules
.next
out
dist
coverage
public
src/generated/prisma
build
*.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
.env
.env.*
.env.local
!.env.example
.vercel